:root {
    --accent-color: #73b6ef;

}
.navbar-dark, .navbar-nav {
    --bs-navbar-active-color: var(--accent-color) !important;
    --bs-nav-link-hover-color: var(--accent-color) !important;

    font-weight: 700;
    letter-spacing: 2px;
}

a:hover {
    color: var(--accent-color);
}

.accent-color {
    color: var(--accent-color);
}

.gradient{
    position:relative;
    display:inline-block;
    height: 100vh;
    overflow: hidden;
    max-width: 100%;
}
.gradient:after {
    content:'';
    position:absolute;
    left:0; top:0;
    width:100%; height:100%;
    display:inline-block;
    background:-moz-radial-gradient(ellipse at 50% 50%, rgba(0, 0, 0, 0) 30%, rgba(33,37,41,var(--bs-bg-opacity,1)) 70%);
    background:-webkit-radial-gradient(ellipse at 50% 50%, rgba(0, 0, 0, 0) 30%, rgba(33,37,41,var(--bs-bg-opacity,1)) 70%);
    background:-o-radial-gradient(ellipse at 50% 50%, rgba(0, 0, 0, 0) 30%, rgba(33,37,41,var(--bs-bg-opacity,1)) 70%);
    background:-ms-radial-gradient(ellipse at 50% 50%, rgba(0, 0, 0, 0) 30%, rgba(33,37,41,var(--bs-bg-opacity,1)) 70%);
    background:radial-gradient(ellipse at 50% 50%, rgba(0, 0, 0, 0) 30%, RGBA(33,37,41,var(--bs-bg-opacity,1)) 70%);
}


.fixed-menu-left {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    left: 2rem;
    height: 100%;
    z-index: 100;
}

.fixed-menu-left:before, .fixed-menu-left:after {
    height: 100%;
    width: 1px;
    content: '';
    background-color: rgba(255,255,255, 0.5);
    margin: 5rem auto;
}

.fixed-menu-icon {
    width: 30px;
    display: inline-flex;
    transition: all 0.5s;
}

.fixed-menu-icon:hover {
    transform: scale(1.2);
}

.fixed-menu-icon:hover .f {
    fill: var(--accent-color);
}
.f {
    transition: all 0.5s;
}


.gradient img {
    margin-left: -12rem;
}
@media (max-width: 576px) {
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
    .gradient img {
        margin-left: -8rem;
    }
}

@media (min-width: 992px) {
    .gradient img {
        margin-left: 0;
    }
}

@media (min-width: 1200px) {

}