:root {
    --header-bar-color: #2d3848;
    --background-color: #27303D;
    --accent-color: #4AA5DA;
    --accent-gold: #F4D609;

    --bs-body-font-family: Roboto, Helvetica Neue, sans-serif;
    --mdc-filled-text-field-caret-color: var(--accent-color);
    --mdc-filled-text-field-label-text-color: #fff;
    --mdc-filled-text-field-focus-label-text-color: #fff;
    --mdc-filled-text-field-focus-active-indicator-color: var(--accent-color);
    --mdc-filled-text-field-container-color: var(--background-color);
    --mat-autocomplete-background-color: var(--background-color);
    --mdc-elevated-card-container-color: var(--header-bar-color);

    --mat-sys-primary: var(--accent-color);
}

.text-bg-dark{
    background-color: var(--background-color) !important;
}
.mat-mdc-standard-chip {
    --mdc-chip-elevated-container-color: var(--background-color);
    --mdc-chip-elevated-disabled-container-color: var(--background-color);
}

.navbar{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar-dark, .navbar-nav {
    --bs-navbar-active-color: var(--accent-color) !important;
    --bs-nav-link-hover-color: var(--accent-color) !important;
    --bs-navbar-color: #FFFFFF !important;
    background-color: var(--header-bar-color) !important;

    font-weight: 700;
    letter-spacing: 2px;
}

a:hover {
    color: var(--accent-color);
}

.accent-color {
    color: var(--accent-color);
}

.accent-gold {
    color: var(--accent-gold);
}

::marker {
    color: var(--accent-gold);
}

.gradient {
    position:relative;
    display:inline-block;
    height: 100vh;
    overflow: hidden;
    max-width: 100%;
}
.gradient:after {
    content:'';
    position:absolute;
    left:0; top:0;
    width:100%; height:100%;
    display:inline-block;
    background:-moz-radial-gradient(ellipse at 50% 50%, rgba(0, 0, 0, 0) 30%, RGBA(39,48,61,var(--bs-bg-opacity,1)) 70%);
    background:-webkit-radial-gradient(ellipse at 50% 50%, rgba(0, 0, 0, 0) 30%, RGBA(39,48,61,var(--bs-bg-opacity,1)) 70%);
    background:-o-radial-gradient(ellipse at 50% 50%, rgba(0, 0, 0, 0) 30%, RGBA(39,48,61,var(--bs-bg-opacity,1)) 70%);
    background:-ms-radial-gradient(ellipse at 50% 50%, rgba(0, 0, 0, 0) 30%, RGBA(39,48,61,var(--bs-bg-opacity,1)) 70%);
    background:radial-gradient(ellipse at 50% 50%, rgba(0, 0, 0, 0) 30%, RGBA(39,48,61,var(--bs-bg-opacity,1)) 70%);
}
.gradient img {
    margin-left: -18rem;
    filter: grayscale(0.8);
}

.fixed-menu-left {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    left: 1rem;
    height: 100%;
    z-index: 100;
}

.fixed-menu-left:before, .fixed-menu-left:after {
    height: 100%;
    width: 1px;
    content: '';
    background-color: rgba(255,255,255, 0.5);
    margin: 5rem auto;
}

.fixed-menu-left-blocker {
    padding-left: 3.2rem !important;
}

.fixed-menu-icon {
    width: 30px;
    display: inline-flex;
    transition: all 0.5s;
}

.fixed-menu-icon:hover {
    transform: scale(1.2);
}

.fixed-menu-icon:hover .f {
    fill: var(--accent-color);
}
.f {
    transition: all 0.5s;
}

.background {
    pointer-events: none;
}

@media (max-width: 576px) {
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
    .gradient img {
        margin-left: -8rem;
    }
}

@media (min-width: 992px) {
    .gradient img {
        margin-left: 0;
    }
}

@media (min-width: 1200px) {

}